<div class="row">
    <div class="col-xs-12">
  		<h4>What is your idea?</h4>
  	</div>
 </div>

<div class="row">
    <div class="col-xs-12">
    	<input type="checkbox">Profitable</input>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
    	<input type="checkbox">Technology</input>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
    	<input type="checkbox" class="">Global</input>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
    	<button type="button" class="form-control btn btn-sm btn-default" ng-click="ideaDetails()">Enter Idea Details</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
    	<button type="button" class="form-control btn btn-sm btn-default">My Previous Ideas</button>
    </div>
</div>
